.dataTable {
  position: relative;
}

.dataGrid {
  background-color: white;
  padding: 20px;

  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }

  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .actions {
    // background-color: red;
  }
}
